*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/******롯데리아 딱붙어체 폰트*******/
@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
}
/*******프리텐다드 폰트**********/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
body{
    width: 100%;
    height: 1000vh;
    background-color: #4c4c4c;
}
/******* 첫번째 페이지 ********/
.first{
    width: 100%;
    height: 100vh;
    /* background-color: tomato; */
    position: relative;
}
.first > .icon{
    font-size: 5em;
    animation: motion 0.3s
                linear 0s 
                infinite alternate;
    position: absolute;
    top: 840px;
    left: 920px;
}
.first > .icon > img{
    width: 40px;
    height: 40px;
}
.first > .icon > span{
    font-size: small;
}
.first > .banner{
    display: flex;
    gap: 350px;
    /* position: absolute; */
    font-family: 'LOTTERIADDAG';
}
.first > h1{
    font-family: 'LOTTERIADDAG';
    font-size: 140px;
    font-weight: normal;
    line-height: 270px;
    color: #f9f1f4;
    position: absolute;
    top: 200px;
    left: 100px;
}
.first > h1 > span {
    color: #cd4179;
}
.first > h1 > span:first-child{
    color: #cd4179;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0;
}
.first > img{
    position: absolute;
    bottom: 200px;
    right: 250px;
    animation: fadeInDown 1s;
    behavior: smooth;
}
.first > .contact{
    position: absolute;
    bottom: 50px;
    left: 70px;
}
.first > .contact > p{
    font-family: 'LOTTERIADDAG';
    font-size: 20px;
    color: #e9d3dc;
}

/*********두번째 페이지*********/
.second{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #252525;
}
/* .second > p{
    font-family: 'Pretendard-Regular';
    animation: moveText 20s linear infinite;
    
} */
.second > h2{
    font-family: 'Pretendard-Regular';
    /* font-weight:normal; */
    text-align: center;
    font-size: 70px;
    color: #f2ebee;
    position: absolute;
    bottom: 650px;
    left: 290px;
}
.second > h2 > span{
    color: #cd4179;
}
.second > .explain{
    position: absolute;
    bottom: 280px;
    left: 390px;
}
.second > .explain > p{
    font-family: 'Pretendard-Regular';
    font-size: 35px;
    color: #e9d3dc;
    text-align: center;
    padding: 20px;
    line-height: 50px;
}
.second > .explain > p > span{
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0;
}
.second > .key > ul{
    display: flex;
    gap: 30px;
}
.second > .key > ul > li{
    width: 300px;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 33px;
    font-weight: bolder;
    background-color: #f2ebee;
    padding: 15px 40px;
    border-radius: 30px;
    position: relative;
    top: 770px;
    left: 160px;
    border: 3.5px solid #000;
}

/**********세번째 페이지********/

.third{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: tomato; */
}
.third > h2{
    font-family: 'LOTTERIADDAG';
    color: #e9d3dc;
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.third > img{
    width: 350px;
    position: absolute;
    top: 300px;
    left: 350px;
}
.third > .container{
    width: 700px;
    height: 750px;
    background-color: #f9f1f4;
    position: absolute;
    top: 190px;
    right: 100px;
    border-radius: 50px;
}
.third > .container > .info{
    position: absolute;
    top: 80px;
}
.third > .container > .info > p{
    font-family: 'LOTTERIADDAG';
    font-size: 35px;
    padding: 10px;
}
.third > .container > .dec{
    position: absolute;
    top: 300px;
}
.third > .container > .dec > p{
    font-family: 'LOTTERIADDAG';
    font-size: 35px;
    padding: 8px 0;
}
.third > .container > .dec > p:first-child{
    color: #cd4179;
}
.third > .container > .skill{
    position: absolute;
    top: 500px;
    left: 27px;
}
.third > .container > .skill > p{
    font-family: 'LOTTERIADDAG';
    font-size: 35px;
}
.third > .container > .skill > img{
    padding: 5px;
}

/*********네번째 페이지********/
.fourth{
    width: 100%;
    height: 100vh;
    background-image: url(./images/web-mockup-bg.png);
    background-size: cover;
    background-color: #c9c9c9;
    position: relative;
}
/* .fourth:after {
    content: '';
    position: absolute;
    background: black;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
  } */
.fourth > h2{
    font-family: 'LOTTERIADDAG';
    font-size: 80px;
    color: #252525;
    position: absolute;
    top: 100px;
    left: 500px;
}
.fourth > p{
    font-family: 'Pretendard-Regular';
    font-size: 25px;
    position: absolute;
    top: 240px;
    left: 760px;
}
.fourth > .btn{
    width: 100%;
    height: 653px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.fourth > .btn > .clone{
    width: 250px;
    height: 400px;
    background-color: #252525;
    border-radius: 100px;
}
.fourth > .btn > .clone:hover{
    cursor: pointer;
    background-color: #f2ebee;
    box-shadow: 10px 25px 30px rgba(247, 247, 247, 0.3);
}
.fourth > .btn > .clone > p{
    font-family: 'LOTTERIADDAG';
    font-size: 30px;
    position: absolute;
    top: 280px;
    left: 135px;
    text-align: center;
    color: #cd4179;
}
.fourth > .btn > .web{
    width: 250px;
    height: 400px;
    background-color: #252525;
    border-radius: 100px;
}
.fourth > .btn > .web:hover{
    cursor: pointer;
    background-color: #f2ebee;
    box-shadow: 10px 25px 30px rgba(247, 247, 247, 0.3);
}
.fourth > .btn > .web > p{
    font-family: 'LOTTERIADDAG';
    font-size: 30px;
    position: absolute;
    top: 280px;
    left: 487px;
    text-align: center;
    color: #cd4179;
}
.fourth > .btn > .design{
    width: 250px;
    height: 400px;
    background-color: #252525;
    border-radius: 100px;
}
.fourth > .btn > .design:hover{
    cursor: pointer;
    background-color: #f2ebee;
    box-shadow: 10px 25px 30px rgba(247, 247, 247, 0.3);
}
.fourth > .btn > .design > p{
    font-family: 'LOTTERIADDAG';
    font-size: 30px;
    position: absolute;
    top: 280px;
    left: 884px;
    text-align: center;
    color: #cd4179;
}
.fourth > .btn > .ani{
    width: 250px;
    height: 400px;
    background-color: #252525;
    border-radius: 100px;
}
.fourth > .btn > .ani:hover{
    cursor: pointer;
    background-color: #f2ebee;
    box-shadow: 10px 25px 30px rgba(247, 247, 247, 0.3);
}
.fourth > .btn > .ani > p{
    font-family: 'LOTTERIADDAG';
    font-size: 30px;
    position: absolute;
    top: 295px;
    right: 502px;
    text-align: center;
    color: #cd4179;
}
.fourth > .btn > .js{
    width: 250px;
    height: 400px;
    background-color: #252525;
    border-radius: 100px;
}
.fourth > .btn > .js:hover{
    cursor: pointer;
    background-color: #f2ebee;
    box-shadow: 10px 25px 30px rgba(247, 247, 247, 0.3);
}
.fourth > .btn > .js > p{
    font-family: 'LOTTERIADDAG';
    font-size: 30px;
    position: absolute;
    top: 295px;
    right: 142px;
    text-align: center;
    color: #cd4179;
}

/********다섯번째 페이지******/
.fifth{
    background-color: #b4b4b4;
    overflow: hidden;
    height: 100vh;
}
.fifth > h2{
    font-family: 'LOTTERIADDAG';
    color: #000;
    font-size: 70px;
    padding: 20px;
    margin-left: 410px;
}
.fifth > .slider{
    width: 400%;
    display: flex;
    transition: all 0.5s;
}
/***netflix****/
.fifth > .slider > .netflix{
    width: 100%;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.fifth > .slider > .netflix > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.fifth > .slider > .netflix > .n-wrap > .n-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.fifth > .slider > .netflix > .n-wrap > .n-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.fifth > .slider > .netflix > .n-wrap > .n-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.fifth > .slider > .netflix > .n-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.fifth > .slider > .netflix > .n-wrap > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    margin-left: 126px;
    margin-top: 170px;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.fifth > .slider > .netflix > img{
    width: 400px;
    position: absolute;
    top: 50px;
    right: 130px;
}
.fifth > .slider > .netflix > img:last-child{
    width: 600px;
    position: absolute;
    top: 360px;
    right: 290px;
}
/***tesla***/
.fifth > .slider > .tesla{
    width: 100% ;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.fifth > .slider > .tesla > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.fifth > .slider > .tesla > .t-wrap > .t-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.fifth > .slider > .tesla > .t-wrap > .t-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.fifth > .slider > .tesla > .t-wrap > .t-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.fifth > .slider > .tesla > .t-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.fifth > .slider > .tesla > .t-wrap > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    margin-left: 126px;
    margin-top: 170px;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.fifth > .slider > .tesla > img{
    width: 350px;
    position: absolute;
    top: 50px;
    right: 130px;
}
.fifth > .slider > .tesla > img:last-child{
    width: 400px;
    position: absolute;
    top: 280px;
    right: 390px;
}
/****airbnb****/
.fifth > .slider > .airbnb{
    width: 100%;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.fifth > .slider > .airbnb > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.fifth > .slider > .airbnb > .a-wrap > .a-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.fifth > .slider > .airbnb > .a-wrap > .a-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.fifth > .slider > .airbnb > .a-wrap > .a-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.fifth > .slider > .airbnb > .a-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.fifth > .slider > .airbnb > .a-wrap > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    margin-left: 126px;
    margin-top: 170px;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.fifth > .slider > .airbnb > img{
    width: 1000px;
    position: absolute;
    top: 210px;
    right: 20px;
}
/******momentum********/
.fifth > .slider > .momentum{
    width: 100%;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.fifth > .slider > .momentum > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.fifth > .slider > .momentum > .m-wrap > .m-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.fifth > .slider > .momentum > .m-wrap > .m-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.fifth > .slider > .momentum > .m-wrap > .m-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.fifth > .slider > .momentum > .m-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.fifth > .slider > .momentum > .m-wrap > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    margin-left: 126px;
    margin-top: 170px;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.fifth > .slider > .momentum > img{
    width: 600px;
    position: absolute;
    top: 120px;
    right: 150px;
}
.fifth > .btn{
    z-index: 10;
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    top: 4230px;
    left: 20px;
    gap: 1750px;
}
.fifth > .btn > button{
    background: none;
    border: none;
    font-size: 50px;
    padding: 10px;
    color: #f9f1f4;
    cursor: pointer;
}
.fifth > .btn > button:hover{
    background-color: rgba(250, 249, 249, 0.1);
}

/******여섯번째 페이지*****/
.sixth{
    background-color: #b4b4b4;
    overflow: hidden;
    height: 100vh;
}
.sixth > h2{
    font-family: 'LOTTERIADDAG';
    color: #000;
    font-size: 70px;
    padding: 20px;
    margin-left: 460px;
}
.sixth > .slide{
    width: 300%;
    display: flex;
    transition: all 0.5s;
}


/*****quiz******/
.sixth > .slide > .quiz{
    width: 100%;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.sixth > .slide > .quiz > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.sixth > .slide > .quiz > .q-wrap > .q-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.sixth > .slide > .quiz > .q-wrap > .q-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.sixth > .slide > .quiz > .q-wrap > .q-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.sixth > .slide > .quiz > .q-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.sixth > .slide > .quiz > .q-wrap > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    margin-left: 126px;
    margin-top: 170px;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.sixth > .slide > .quiz > .img{
    display: flex;
    gap: 50px;
    position: absolute;
    top: 165px;
    left: 1060px;
}
.sixth > .slide > .quiz > .img > img{
    width: 200px;
}


/*****order******/
.sixth > .slide > .order{
    width: 100%;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.sixth > .slide > .order > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.sixth > .slide > .order > .o-wrap > .o-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.sixth > .slide > .order > .o-wrap > .o-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.sixth > .slide > .order > .o-wrap > .o-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.sixth > .slide > .order > .o-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.sixth > .slide > .order > .o-wrap > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    margin-left: 126px;
    margin-top: 170px;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.sixth > .slide > .order > img{
    width: 450px;
    position: absolute;
    top: 120px;
    left: 1310px;
}
.sixth > .slide > .order > img:last-child{
    width: 510px;
    position: absolute;
    top: 270px;
    left: 910px;
}


/******blog*******/
.sixth > .slide > .blog{
    width: 100%;
    position: relative;
    background-color: #252525;
    padding: 20px;
}
.sixth > .slide > .blog > h3{
    font-family: 'LOTTERIADDAG';
    font-size: 40px;
    color: #f2ebee;
    padding: 40px;
    margin-left: 80px;
}
.sixth > .slide > .blog > .b-wrap > .b-info{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 110px;
}
.sixth > .slide > .blog > .b-wrap > .b-info > p{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #f2ebee;
}
.sixth > .slide > .blog > .b-wrap > .b-info > p > span{
    font-weight: bold;
    font-size: 19px;
}
.sixth > .slide > .blog > .b-wrap > p{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 40px;
    color: #f2ebee;
    padding: 30px;
    margin-left: 100px;
}
.sixth > .slide > .blog > .b-wrap > .btn{
    margin-left: 126px;
    margin-top: 180px;
    position: relative;
    z-index: 10;
}
.sixth > .slide > .blog > .b-wrap > .btn > a > button{
    padding: 15px 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cd4179;
    color: #f2ebee;
    font-size: 30px;
    font-family: 'LOTTERIADDAG';
}
.sixth > .slide > .blog > img{
    width: 650px;
    position: absolute;
    top: 110px;
    left: 1140px;
}
.sixth > .slide > .blog > img:last-child{
    width: 690px;
    position: absolute;
    top: 250px;
    left: 710px;
}
.sixth > .wbtn{
    z-index: 10;
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    top: 5050px;
    left: 20px;
    gap: 1750px;
}
.sixth > .wbtn > button{
    background: none;
    border: none;
    font-size: 50px;
    padding: 10px;
    color: #f9f1f4;
    cursor: pointer;
}
.sixth > .wbtn > button:hover{
    background-color: rgba(250, 249, 249, 0.1);
}

/******일곱번째 페이지******/
.seventh{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
	margin: 0;
	background-color: #4c4c4c;
	/* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
	/* height: 90vh; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.seventh > h2{
    font-size: 70px;
    font-family: 'LOTTERIADDAG';
   color: #f2ebee; 
}
.seventh > .container {
	width: 100%;
	display: flex;
	padding: 0 20px;
}
.seventh > .container > .slide {
	height: 60vh;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: #999999;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 0.7s ease-in-out;
	filter: blur(2px);
}
.seventh > .container > .slide > h3 {
	position: absolute;
    font-size: 50px;
    font-weight: lighter;
	bottom: 45px;
	left: 20px;
	margin: 0;
	opacity: 0;
	background-color: #cd4179;
	/* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%); */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'LOTTERIADDAG';
}
.seventh > .container > .slide > a > button{
    width: 150px;
    height: 30px;
    background-color: #f2ebee;
    color: #000;
    font-size: 15px;
    position: relative;
    top: 530px;
    left: 20px;
    border-radius: 15px;
    opacity: 0;
}
.seventh > .container > .slide.active {
	flex: 10;
	filter: blur(0px);
}
.seventh > .container > .slide.active > h3  {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}
.seventh > .container > .slide.active > a > button{
    opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}


/******여덟번쨰 페이지********/
.eighth{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
	margin: 0;
	background-color: #b4b4b4;
	/* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
	/* height: 90vh; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.eighth > h2{
    font-size: 70px;
    font-family: 'LOTTERIADDAG';
    margin-left: 60px;
   color: #252525; 
}
.eighth > .container {
	width: 100%;
	display: flex;
	padding: 0 20px;
}
.eighth > .container > .slide {
	height: 60vh;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: #999999;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 0.7s ease-in-out;
	filter: blur(2px);
}
.eighth > .container > .slide > h3 {
	position: absolute;
    font-size: 40px;
    font-weight: lighter;
	bottom: 10px;
	left: 20px;
	margin: 0;
	opacity: 0;
	background-color: #cd4179;
	/* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%); */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'LOTTERIADDAG';
}
.eighth > .container > .slide > a > button{
    width: 150px;
    height: 30px;
    background-color: #f2ebee;
    color: #000;
    font-size: 15px;
    position: relative;
    top: 530px;
    left: 20px;
    border-radius: 15px;
    opacity: 0;
}
.eighth > .container > .slide.active {
	flex: 10;
	filter: blur(0px);
}
.eighth > .container > .slide.active > h3  {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}
.eighth > .container > .slide.active > a > button{
    opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

/******아홉번째 페이지 *******/
.ninth{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
	margin: 0;
	background-color: #4c4c4c;
	/* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
	/* height: 90vh; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.ninth > h2{
    font-size: 70px;
    font-family: 'LOTTERIADDAG';
    margin-left: 50px;
   color: #f2ebee; 
}
.ninth > .container {
	width: 100%;
	display: flex;
	padding: 0 20px;
}
.ninth > .container > .slide {
	height: 60vh;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: #999999;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 0.7s ease-in-out;
	filter: blur(2px);
}
.ninth > .container > .slide > h3 {
	position: absolute;
    font-size: 40px;
    font-weight: lighter;
	bottom: 40px;
	left: 20px;
	margin: 0;
	opacity: 0;
	background-color: #cd4179;
	/* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%); */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'LOTTERIADDAG';
}
.ninth > .container > .slide > a > button{
    width: 150px;
    height: 30px;
    background-color: #f2ebee;
    color: #000;
    font-size: 15px;
    position: relative;
    top: 530px;
    left: 20px;
    border-radius: 15px;
    opacity: 0;
}
.ninth > .container > .slide.active {
	flex: 10;
	filter: blur(0px);
}
.ninth > .container > .slide.active > h3  {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}
.ninth > .container > .slide.active > a > button{
    opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

/*****열번쨰 페이지*****/
.tenth{
    height: 100vh;
    background-color: #b4b4b4;
    position: relative;
}
.tenth > h3{
    padding-top: 50px;
    font-family: 'LOTTERIADDAG';
    font-size: 120px;
    margin-left: 50px;
}
.tenth > p{
    font-family: 'LOTTERIADDAG';
    font-size: 120px;
    margin-left: 50px;
}
.tenth > p:nth-child(3){
    color: #252525;
    position: absolute;
    top: 700px;
    left: 720px;
    background-color: #cd4179;
    padding: 20px;
    border-radius: 200px;
}
.tenth  > .footer{
    font-family: 'LOTTERIADDAG';
    display: flex;
    gap: 350px;
    position: absolute;
    top: 920px;
    left: 770px;
}
.tenth > .contact{
    position: absolute;
    top: 825px;
    left: 30px;
    font-family: 'LOTTERIADDAG';
    font-size: 21px;
    color: #4c4c4c;
}
.return > a > img{
    height: 55px;
    width: 55px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @media screen and (max-width: 50rem) {
	.slide h3 {
		left: 5px;
	}   
}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
  }


/* 모바일 버전: 최대 768px */
@media (max-width: 768px) {
    .first{
        height: 100vh;
    }
    .first > .banner{
        gap: 50px;
    }
    /* .first > .banner > p{
        font-size: 10px;
    } */
    .first > h1{
        font-size: 70px;
        line-height: 100px;
        top: 130px;
        left: 1px;
        color: #fff;
        line-height: 140px;
    }
    .first > .contact{
        left: 20px;
    } 
    .first > img{
        width: 250px;
        z-index: -1;
        top: -380px;
        left: 480px;
    } 
    .first > .icon{
        top: 760px;
        left: 340px;
    }
    .second{
        width: 768px;
        height: 100vh;
    }
    .second > h2{
        font-size: 39px;
        top: 150px;
        left: 10px;
        line-height: 60px;
    }
    .second > .explain{
        top: 320px;
        left: 10px;
    }
    .second > .explain > p {
        font-size: 25px;
        line-height: 30px;
    }
    .second > .key > ul{
        gap: 7px;
    }
    .second > .key > ul > li{
        width: 100px;
        font-size: 20px;
        top: 700px;
        left: 1px;
    }
    .third{
        width: 768px;
        height: 100vh;
    }
    .third > h2 {
        font-size: 50px;
        top: 40px;
    }
    .third > img{
        width: 180px;
        top: 130px;
        left: 300px;
    }
    .third > .container{
        width: 600px;
        height: 440px;
        top: 370px;
        left: 93px;
    }
    .third > .container > .info{
        top: 25px;
        left: 15px;
    } 
    .third > .container > .info > p{
        font-size: 22px;
        padding: 5px;
    }
    .third > .container > .dec{
        top: 170px;
        left: 15px;
    }
    .third > .container > .dec > p{
        font-size: 22px;
        padding: 4px 0;
    }
    .third > .container > .skill{
        top: 300px;
        left: 15px;
    }
    .third > .container > .skill > p{
        font-size: 22px;
    }
    .third > .container > .skill > img{
        width: 52px;
    }
    .fourth{
        width: 768px;
        height: 100vh;
        background-size: 768px;
        background-repeat: no-repeat;
    }
    .fourth > h2{
        font-size: 50px;
        top: 40px;
        left: 105px;
    }
    .fourth > p{
        font-size: 19px;
        top: 110px;
        left: 245px;
    }
    .fourth > .btn{
        display: block;
        align-items: center;
    }
    .fourth > .btn > .clone{
        width: 650px;
        height: 100px;
        margin-top: 32px;
        margin-left: 53px;
    }
    .fourth > .btn > .clone > p{
        top: 62px;
        left: 155px;
    }
    .fourth > .btn > .clone > p > br.pc{
        display: none;
    }
    .fourth > .btn > .web{
        width: 650px;
        height: 100px;
        margin-top: 20px;
        margin-left: 53px;
    }
    .fourth > .btn > .web > p{
        top: 185px;
        left: 178px;
    }
    .fourth > .btn > .web > p > br.pc{
        display: none;
    }
    .fourth > .btn > .design{
        width: 650px;
        height: 100px;
        margin-top: 20px;
        margin-left: 53px;
    }
    .fourth > .btn > .design > p{
        top: 305px;
        left: 250px;
    }
    .fourth > .btn > .design > p > br.pc{
        display: none;
    }
    .fourth > .btn > .ani{
        width: 650px;
        height: 100px;
        margin-top: 20px;
        margin-left: 53px;
    }
    .fourth > .btn > .ani > p{
        top: 428px;
        left: 270px;
    }
    .fourth > .btn > .js{
        width: 650px;
        height: 100px;
        margin-top: 20px;
        margin-left: 53px;
    }
    .fourth > .btn > .js > p{
        top: 552px;
        left: 120px;
    }
    /*******************/
    .fifth{
        width: 767px
        height: 100vh;
    }
    .fifth > h2{
        font-size: 45px;
        padding: 15;
        margin-left: 35px;
    }
    .fifth > .slider{
        width: 400vh;
    }
    /**************************************/
    .fifth > .slider > .netflix{
        width: 100%;
    }
    .fifth > .slider > .netflix > h3{
        font-size: 35px;
        margin-left: -50px;
    }
    .fifth > .slider > .netflix > .n-wrap > .n-info{
        margin-left: -30px;
    }
    .fifth > .slider > .netflix > .n-wrap > .n-info > p{
        font-size: 15px;
    }
    .fifth > .slider > .netflix > .n-wrap > .n-info > p > span{
        font-size: 18px;
    }
    .fifth > .slider > .netflix > .n-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -10px;
        margin-top: 30px;
    }
    .fifth > .slider > .netflix > .n-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 300px;
    }
    .fifth > .slider > .netflix > img{
        width: 255px;
        height: 350px;
        top: 380px;
        left: 480px;
        
    }
    .fifth > .slider > .netflix > img:last-child{
        width: 400px;
        height: 220px;
        top: 550px;
        left: 250px;
    }
    /************************/
    .fifth > .slider > .tesla{
        width: 100%;
    }
    .fifth > .slider > .tesla > h3{
        font-size: 35px;
        margin-left: -150px;
    }
    .fifth > .slider > .tesla > h3 > span{
        display: flex;
        margin-left: 130px;
    }
    .fifth > .slider > .tesla > .t-wrap > .t-info{
        margin-left: -130px;
        margin-top: -10px;
    }
    .fifth > .slider > .tesla > .t-wrap > .t-info > p{
        font-size: 15px;
    }
    .fifth > .slider > .tesla > .t-wrap > .t-info > p > span{
        font-size: 18px;
    }
    .fifth > .slider >.tesla > .t-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -110px;
        margin-top: 10px;
    }
    .fifth > .slider > .tesla > .t-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: -100px;
        margin-top: 280px;
    }
    .fifth > .slider > .tesla > img{
        width: 245px;
        height: 350px;
        top: 380px;
        left: 380px;
        
    }
    .fifth > .slider > .tesla > img:last-child{
        width: 280px;
        height: 220px;
        top: 510px;
        left: 200px;
    }
    /***************************/
    .fifth > .slider > .airbnb{
        width: 100%;
    }
    .fifth > .slider > .airbnb > h3{
        font-size: 35px;
        margin-left: -260px;
    }
    .fifth > .slider > .airbnb > h3 > span{
        display: flex;
        margin-left: 160px;
    }
    .fifth > .slider > .airbnb > .a-wrap > .a-info{
        margin-left: -240px;
    }
    .fifth > .slider > .airbnb > .a-wrap > .a-info > p{
        font-size: 15px;
    }
    .fifth > .slider > .airbnb > .a-wrap > .a-info > p > span{
        font-size: 18px;
    }
    .fifth > .slider >.airbnb > .a-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -220px;
        margin-top: 10px;
    }
    .fifth > .slider > .airbnb > .a-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: -200px;
        margin-top: 270px;
    }
    .fifth > .slider > .airbnb > img{
        width: 550px;
        height: 280px;
        top: 480px;
        left: -10px;
        
    }
    /******************/
    .fifth > .slider > .momentum{
        width: 100%;
    }
    .fifth > .slider > .momentum > h3{
        font-size: 35px;
        margin-left: -370px;
    }
    .fifth > .slider > .momentum > h3 > span{
        display: flex;
        margin-left: 200px;
    }
    .fifth > .slider > .momentum > .m-wrap > .m-info{
        margin-left: -340px;
    }
    .fifth > .slider > .momentum > .m-wrap > .m-info > p{
        font-size: 15px;
    }
    .fifth > .slider > .momentum > .m-wrap > .m-info > p > span{
        font-size: 18px;
    }
    .fifth > .slider > .momentum > .m-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -320px;
        margin-top: 5px;
    }
    .fifth > .slider > .momentum > .m-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: -300px;
        margin-top: 270px;
    }
    .fifth > .slider > .momentum > img{
        width: 395px;
        height: 350px;
        top: 380px;
        left: 20px;      
    }
    /*******************************/
    .fifth > .btn{
        gap: 690px;
        left: -8px;
        top: 3950px;
    }
    /*************************************/
    .sixth{
        width: 767px
        height: 100%;
    }
    .sixth > h2{
        font-size: 45px;
        padding: 5;
        margin-left: 70px;
    }
    .sixth > .slider{
        width: 400vh;
    }
    /**************************************/
    .sixth > .slider > .quiz{
        width: 100%;
    }
    .sixth > .slider > .quiz > h3{
        font-size: 35px;
        margin-left: -50px;
    }
    .sixth > .slider > .quiz > .q-wrap > .q-info{
        margin-left: -30px;
    }
    .sixth > .slider > .quiz > .q-wrap > .q-info > p{
        font-size: 15px;
    }
    .sixth > .slider > .quiz > .q-wrap > .q-info > p > span{
        font-size: 18px;
    }
    .sixth > .slider > .quiz > .q-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -10px;
        margin-top: 30px;
    }
    .sixth > .slider > .quiz > .q-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 300px;
    }
    .sixth > .slider > .quiz > img{
        width: 255px;
        height: 350px;
        top: 380px;
        left: 480px;
        
    }
    .sixth > .slider > .quiz > img:last-child{
        width: 400px;
        height: 220px;
        top: 550px;
        left: 250px;
    }
    /************************/
    .sixth > .slider > .tesla{
        width: 100%;
    }
    .sixth > .slider > .tesla > h3{
        font-size: 35px;
        margin-left: -150px;
    }
    .sixth > .slider > .tesla > h3 > span{
        display: flex;
        margin-left: 130px;
    }
    .sixth > .slider > .tesla > .t-wrap > .t-info{
        margin-left: -130px;
        margin-top: -10px;
    }
    .sixth > .slider > .tesla > .t-wrap > .t-info > p{
        font-size: 15px;
    }
    .sixth > .slider > .tesla > .t-wrap > .t-info > p > span{
        font-size: 18px;
    }
    .sixth > .slider >.tesla > .t-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -110px;
        margin-top: 10px;
    }
    .sixth > .slider > .tesla > .t-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: -100px;
        margin-top: 280px;
    }
    .sixth > .slider > .tesla > img{
        width: 245px;
        height: 350px;
        top: 380px;
        left: 380px;
        
    }
    .sixth > .slider > .tesla > img:last-child{
        width: 280px;
        height: 220px;
        top: 510px;
        left: 200px;
    }
    /***************************/
    .sixth > .slider > .airbnb{
        width: 100%;
    }
    .sixth > .slider > .airbnb > h3{
        font-size: 35px;
        margin-left: -260px;
    }
    .sixth > .slider > .airbnb > h3 > span{
        display: flex;
        margin-left: 160px;
    }
    .sixth > .slider > .airbnb > .a-wrap > .a-info{
        margin-left: -240px;
    }
    .sixth > .slider > .airbnb > .a-wrap > .a-info > p{
        font-size: 15px;
    }
    .sixth > .slider > .airbnb > .a-wrap > .a-info > p > span{
        font-size: 18px;
    }
    .sixth > .slider >.airbnb > .a-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -220px;
        margin-top: 10px;
    }
    .sixth > .slider > .airbnb > .a-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: -200px;
        margin-top: 270px;
    }
    .sixth > .slider > .airbnb > img{
        width: 550px;
        height: 280px;
        top: 480px;
        left: -10px;
        
    }
    /******************/
    .sixth > .slider > .momentum{
        width: 100%;
    }
    .sixth > .slider > .momentum > h3{
        font-size: 35px;
        margin-left: -370px;
    }
    .sixth > .slider > .momentum > h3 > span{
        display: flex;
        margin-left: 200px;
    }
    .sixth > .slider > .momentum > .m-wrap > .m-info{
        margin-left: -340px;
    }
    .sixth > .slider > .momentum > .m-wrap > .m-info > p{
        font-size: 15px;
    }
    .sixthh > .slider > .momentum > .m-wrap > .m-info > p > span{
        font-size: 18px;
    }
    .sixth > .slider > .momentum > .m-wrap > p{
        font-size: 15px;
        padding: 0;
        line-height: 40px;
        margin-left: -320px;
        margin-top: 5px;
    }
    .sixth > .slider > .momentum > .m-wrap > a > button{
        width: 200px;
        height: 70px;
        font-size: 20px;
        padding: 10px;
        margin-left: -300px;
        margin-top: 270px;
    }
    .sixth > .slider > .momentum > img{
        width: 395px;
        height: 350px;
        top: 380px;
        left: 20px;      
    }
    /*******************************/
    .sixth > .btn{
        gap: 690px;
        left: -8px;
        top: 3950px;
    }
}
  
  /* 태블릿 버전: 768px ~ 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {}
  